absl-py==0.5.0
astor==0.7.1
backports.weakref==1.0.post1
enum34==1.1.6
funcsigs==1.0.2
futures==3.2.0
gast==0.2.0
grpcio==1.15.0
h5py==2.8.0
Markdown==3.0.1
MedPy==0.3.0
mock==2.0.0
nibabel==2.3.0
numpy==1.15.2
pandas==0.23.4
pbr==4.2.0
Pillow==6.2.0
protobuf==3.15.0
pydicom==1.1.0
python-dateutil==2.7.3
pytz==2018.5
scipy==1.1.0
six==1.11.0
tensorboard==1.11.0
tensorflow-gpu==1.15.2
termcolor==1.1.0
tflearn==0.3.2
Werkzeug==0.14.1