# List required packages in this file, one per line.
pandas==0.23.4
tensorflow==1.4.1
medpy==0.3.0
nose==0.11
pydicom==0.9.9
nipype==1.1.1
nilearn==0.4.2
certifi==2018.8.13
cycler==0.10.0
deprecation==1.2
fsleyes==0.24.6
fsleyes-props==1.6.3
fsleyes-widgets==0.6.2
fslpy==1.10.1
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.3
nibabel==2.3.0
numpy==1.15.0
olefile==0.45.1
packaging==17.1
Pillow==4.3.0
PyOpenGL==3.1.0
PyOpenGL-accelerate==3.1.0
pyparsing==2.2.0
Pypubsub==4.0.0
python-dateutil==2.7.3
pytz==2018.5
scipy==1.1.0
six==1.11.0
wxPython==4.0.3
